<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Amila Gacrux is a generated Profile picture for Galverse project.
          The manager behind Amila is Risa Harada who is working as a software developer, loves art and anime.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Amila is curious about things she doesn't know yet! She loves to reserch, learn and execute.
        </p>
      </div>
    </div>
  </div>
</section>
